{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="post-padding">
        <div class="row post-padding">
            <div class="col-md-2">
                <img src="http://lorempixel.com/180/180/people/9/" class="img-circle" width="30%"/>
            </div>
            <div class="col-md-8">
                <textarea class="form-control" rows="3"></textarea><br>
                <button type="button" class="btn btn-primary pull-right">post</button>
            </div>
        </div>

        <div class="row post-padding">
            <div class="col-md-2">
                <img src="http://lorempixel.com/180/180/people/9/" class="img-circle" width="30%"/>
            </div>
            <div class="col-md-8">
                <div> The weather is gloomy today</div>
                <div class="pull-right text-muted"> Delete </div>
            </div>
        </div>
        </div>
    </div> <!-- /container -->
{% endblock %}